<div class="row">
  <div class="col-sm-12">
    <%= @poll.question %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= @poll.start %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= @poll.end %>
  </div>
</div>
