<section id="user-profile">
  <div class="row">
    <h2>User#show</h2>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Your polls:</h3>
      <ul>
        <% @user.polls.each do |poll| %>
          <li><%= poll.question %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <p><%= link_to "Create a new poll", new_poll_path,
                                        class: "btn btn-primary" %></p>
  </div>
</section>
