%section#user-profile
  .row
    .col-sm-4
      %h2 User#show
  .row
    .col-sm-12
      %h3 Your polls:
      %ul
        - @user.polls.each do |poll|
          %li= poll.question
  .row
    .col-sm-4
      %p= link_to "Create a new poll", new_poll_path, class: "btn btn-primary"
