%section
  = render 'recent_polls', polls: @user.polls.recent(5).decorate
%hr
%section
  .row
    .col-sm-12
      = link_to new_poll_path, class: "btn btn-primary" do
        %i.fa.fa-bar-chart-o
        Create a new poll
      = link_to edit_user_registration_path, class: "btn btn-default" do
        %i.fa.fa-pencil-square-o
        Edit your profile
