%section
  .row
    .page-header.col-sm-12
      %h1 Voteline
    %hr
  .row
    .col-sm-12
      %h2 Recent Polls:
      %ul
        - @polls.each do |poll|
          %li
            %h4
              = link_to poll.question, poll_path(poll)
              %small
                = "(started at: #{poll.pretty_start})"
