<div class="row">
  <div class="col-sm-12">
    <%= @vote.poll.question %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= @vote.value %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= @vote.created_at %>
  </div>
</div>
