/ Fixed navbar
%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand.navbar-brand{href: "/"} Voteline
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        - if current_user.present?
          = render 'layouts/navbar_signout'
        - else
          = render 'layouts/navbar_signin'
